.button {
    display: block;
    width: 100%;
    color: #ffffff;
    background-color: #008a00;
    border-color: #008a00;
    padding: 8px;
    cursor: pointer;
    font-size:1.1875rem;
    margin-bottom: 20px;
    margin-top: 3px;
}

.btn-primary:hover {
    background-color: #007c16;
}

.container {
    left: 25%;
    padding: 0 25%;
}

.panel-body {
    overflow-y: scroll;
    text-align: left;
    width: 200%;
}

.TC {
    text-align: center;
}
