tr:nth-child(even) {
    background-color: #ffffff;
}

tr:nth-child(odd) {
    background-color: #eef6eb;
}

#outputTable {
    color: #003f2d;
    border: none;
}

td {
    padding: 0 100px;
}

tbody tr:hover {
    background-color: #a0f0a0;
}